// Custom.scss
// Option A: Include all of Bootstrap

$primary: #8493BF;
$secondary: #393B59;
$success: #508259; 
$info: #CEF2F2;
$warning: #CC9933;
$danger: #AF3339;
// $light: ;
// $dark: ;

@import "../node_modules/bootstrap/scss/bootstrap";

// Include any default variable overrides here (though functions won't be available)

.navbar{
--bs-navbar-toggler-border-color: none;
}





// Then add additional custom code here

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

h1, h2 {
    font-family: "Outfit", sans-serif;
}